## NOTES: 

- Create a notebook of where I write down what I know about the code AND ESPECIALLY, what comes up that is NEW.

- Look at a run example codes.

- Modify the code to make a loop that starts at 1 and ends at 10.

- or Modify the code to make a loop that starts at 10 and counts down to 0.

- Try removing the moving pieces as I can to isolate what the new function does...

- Break down the exercise down into pieces. [What is new? What do I already know?]

### Self measurements to assess my coding knowledge 
- Hackerrank (SQL, Python, stats) *** START HERE, 1 or 2 per day
- SqlZoo
- CodeWars

#### I don't have to know everything, (there will always be gaps)- 
-I need to focus on how to get to the next career mark (if it's one block gap, keep running forward; if its a large gap, it may be time to do some studying until it's one gap

### Lambda functions:
- A function definition isn't the same thins as the function being run

- When to use, what's the upside?

- Lambda is a function definition w/o a name

In [1]:
def add(a,b):
    return a + b

type(add)

function

In [2]:
# Function definition is a blueprint (aka recipe)
### We call/run/execute functions when we type the function name w/ parenthesis
add(2,4)

6

In [3]:
# if there are no parenthesis, no function is executed

In [4]:
add = lambda x,y: x + y
type(add)

function

## Lambdas exist to allow us to define a function in one line
- the 'return' is implicit
- in isolation, Lambdas is not really valuable
- Where coders use Lambdas is where we have methods/functions that take in a function as the input
- Example if you are sending a def into a function as an input
- You'll see Lambdas in:
    - sorting a list of dictionary by a specific dict. key (sort, min, max)
    - and with .apply

In [5]:
numbers = [1,20,99,-5]
min(numbers), max(numbers)

(-5, 99)

In [17]:
books = [
    {
        'title':'The Giving Tree',
        'author':'Shel S.',
        'price': "$2.99",
        'locations':["Half-Price Books","Target","Library"]
        
    },
    {
        'title':'How to win friends',
        'author':'Dale C',
        'price':"$0.99",
        'locations':["Chewie Bookshelf","Target","Library"]
        
    },
    {
        'title':'Visual Display',
        'author':'Edward T.',
        'price':'$40.00',
        'locations':["https://tufte.com"]
        
    },
    {
        'title':'Black Swan',
        'author':'Nassim Taleb',
        'price':"$12.50",
        'locations':["BN.com","Amazon.com","Library"]
        
    },
]

In [11]:
#this is a defined function (with a name) we could use elsewhere
def by_price(book):
    return book['price']

In [12]:
#pay attention to the by_price being an input..
#it doesn't have it's own parenthesis
max(books, key=by_price)

{'title': 'Visual Display', 'author': 'Edward T.', 'price': '$40.00'}

In [13]:
max(books, key=lambda book: book['price']) #it is less work to send in a lambda than to sort out a function

{'title': 'Visual Display', 'author': 'Edward T.', 'price': '$40.00'}

In [14]:
min(books, key=lambda book: book['author'])

{'title': 'How to win friends', 'author': 'Dale C', 'price': '$0.99'}

In [15]:
sorted(books, key=lambda book:book['title'])

[{'title': 'Black Swan', 'author': 'Nassim Taleb', 'price': '$12.50'},
 {'title': 'How to win friends', 'author': 'Dale C', 'price': '$0.99'},
 {'title': 'The Giving Tree', 'author': 'Shel S.', 'price': '$2.99'},
 {'title': 'Visual Display', 'author': 'Edward T.', 'price': '$40.00'}]

In [18]:
#Books list of dictionaries
#Almost every key is a single scalar (one number or string)
#Locations key points to a list
books

[{'title': 'The Giving Tree',
  'author': 'Shel S.',
  'price': '$2.99',
  'locations': ['Half-Price Books', 'Target', 'Library']},
 {'title': 'How to win friends',
  'author': 'Dale C',
  'price': '$0.99',
  'locations': ['Chewie Bookshelf', 'Target', 'Library']},
 {'title': 'Visual Display',
  'author': 'Edward T.',
  'price': '$40.00',
  'locations': ['https://tufte.com']},
 {'title': 'Black Swan',
  'author': 'Nassim Taleb',
  'price': '$12.50',
  'locations': ['BN.com', 'Amazon.com', 'Library']}]

In [19]:
#How do we access the first item on the list?
books[0]

{'title': 'The Giving Tree',
 'author': 'Shel S.',
 'price': '$2.99',
 'locations': ['Half-Price Books', 'Target', 'Library']}

In [21]:
#How do we access the author of the first item on the list?
##note: if some line of code give a dict, treat that expresson as one
books[0]['author']

'Shel S.'

In [23]:
#How do we access the first char of the author of the first item on the list?
books[0]['author'][0]

'S'

In [25]:
#How to access the last location onf the last book?
books[-1]['locations'][-1]

'Library'

In [27]:
### Slicing syntax:
start = 0
"pineapple"[2:]

'neapple'

In [30]:
##How do we produce a list of only the first two authors?
first_two_authors = [
    books[0]['author'],
    books[1]['author']
]
first_two_authors

['Shel S.', 'Dale C']

In [33]:
#if we need to produce a list of only the authorsm create a list!
authors = []
for book in books:
    authors.append(book['author'])
    
authors

['Shel S.', 'Dale C', 'Edward T.', 'Nassim Taleb']

### DATA CLEANING:
- we can't do math on strings

In [34]:
#'adding' strings is not a type error
#but if the strings hold numbers, 
"mango" + "icee"

'mangoicee'

In [35]:
"mango" * 3

'mangomangomango'

In [44]:
#we are reassigning here...

def get_price(book):
    book['price'] = float(book["price"].replace("$",""))
    
get_price(books[0])

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
#Base python data cleaning of books list
clean_books = []

#always start with 'singular' in 'plural'
for book in books:
    clean_books= get_price(book)

In [45]:
#Let's redefine to make messy data again:

books = [
    {
        'title':'The Giving Tree',
        'author':'Shel S.',
        'price': "$2.99",
        'locations':["Half-Price Books","Target","Library"]
        
    },
    {
        'title':'How to win friends',
        'author':'Dale C',
        'price':"$0.99",
        'locations':["Chewie Bookshelf","Target","Library"]
        
    },
    {
        'title':'Visual Display',
        'author':'Edward T.',
        'price':'$40.00',
        'locations':["https://tufte.com"]
        
    },
    {
        'title':'Black Swan',
        'author':'Nassim Taleb',
        'price':"$12.50",
        'locations':["BN.com","Amazon.com","Library"]
        
    },
]

In [46]:
import pandas as pd

df= pd.DataFrame(books)
df.head()

,title,author,price,locations
0,The Giving Tree,Shel S.,$2.99,"[Half-Price Books, Target, Library]"
1,How to win friends,Dale C,$0.99,"[Chewie Bookshelf, Target, Library]"
2,Visual Display,Edward T.,$40.00,[https://tufte.com]
3,Black Swan,Nassim Taleb,$12.50,"[BN.com, Amazon.com, Library]"

In [49]:
# How do we clean the price column?
df['price'].str.replace('$','').astype(float)

/var/folders/d3/11nygz6126ndxvtrp12687680000gn/T/ipykernel_43003/4021233398.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'].str.replace('$','').astype(float)

0     2.99
1     0.99
2    40.00
3    12.50
Name: price, dtype: float64

In [50]:
df

,title,author,price,locations
0,The Giving Tree,Shel S.,$2.99,"[Half-Price Books, Target, Library]"
1,How to win friends,Dale C,$0.99,"[Chewie Bookshelf, Target, Library]"
2,Visual Display,Edward T.,$40.00,[https://tufte.com]
3,Black Swan,Nassim Taleb,$12.50,"[BN.com, Amazon.com, Library]"

In [51]:
#How do we apply the changed pricing to the df?

#we need to reassign variables to reassing values 
df['price']=df['price'].str.replace('$','').astype(float)

/var/folders/d3/11nygz6126ndxvtrp12687680000gn/T/ipykernel_43003/1122731063.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price']=df['price'].str.replace('$','').astype(float)

In [52]:
df

,title,author,price,locations
0,The Giving Tree,Shel S.,2.99,"[Half-Price Books, Target, Library]"
1,How to win friends,Dale C,0.99,"[Chewie Bookshelf, Target, Library]"
2,Visual Display,Edward T.,40.00,[https://tufte.com]
3,Black Swan,Nassim Taleb,12.50,"[BN.com, Amazon.com, Library]"

In [53]:
#what's the sum of all the prices?

df.price.sum()

56.480000000000004

In [54]:
#what's the average price?
df.price.mean()

14.120000000000001

In [60]:
#How do we access lists with .apply to get at fields in dataframe that are collections
#Exercise: create a simple list of all of the locations represented

#if you ever feel like you need a For loop in a dataframe, consider using .apply(axis=1)

all_locations = []

def append_locations(locations):
    for location in locations:
        all_locations.append(location)

In [61]:
append_locations(["Sams Club", 'Costco','The Twig'])

all_locations

['Sams Club', 'Costco', 'The Twig']

In [63]:
all_locations = []

In [67]:
df.locations.apply(append_locations)

0    None
1    None
2    None
3    None
Name: locations, dtype: object

In [69]:
all_locations = set(all_locations)
all_locations

{'Amazon.com',
 'BN.com',
 'Chewie Bookshelf',
 'Half-Price Books',
 'Library',
 'Target',
 'https://tufte.com'}