## Pandas Tutorial

### Series
#### one dimensional data type

In [4]:
import numpy as np
import pandas as pd

list_1= ['a','b','c','d']
labels =[1,2,3,4]
ser_1=pd.Series(data=list_1, index=labels)
ser_1

arr_1 = np.array([1,2,3,4])
ser_2=pd.Series(arr_1)

dict_1={'f_name': "Derek", "l_name":"Banas", 'age': 44 }
ser_3=pd.Series(dict_1)
ser_3

'Derek'

In [6]:
ser_2 / ser_2

0    1.0
1    1.0
2    1.0
3    1.0
dtype: float64

In [7]:
np.exp(ser_2)

0     2.718282
1     7.389056
2    20.085537
3    54.598150
dtype: float64

In [11]:
###operations rely on labels:
ser_4=pd.Series({4: 5, 5: 6, 6: 7, 7: 8})

In [16]:
#can assign names to Series:
ser_4=pd.Series({4: 5, 5: 6, 6: 7, 7: 8}, name = 'random_nums')

### DataFrames

### Creating DataFrames:

In [23]:
arr_2 = np.random.randint(10,50,size=(2,3))
df_1 = pd.DataFrame(arr_2,['A','B'],['C','D','E'])
df_1

    C   D   E
A  48  10  27
B  45  27  14